html{
    background-color: beige;
}
body{
    /* border: 3px solid red; */
    background-color: white;
    min-height: 100vh;
    max-width: 850px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
}
header h2 {
    font-size: 250%;
    text-align: center;
    margin-top: 50px;
}
.bannerimage {
    max-width: 500px;
}